* {
    box-sizing: border-box;
}

button,
input {
    background: none;
    border: none;
}

body {
    margin: 0;
}

header {
    padding: 0 0.8rem;
    background: #333264;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73.5px;
}

#logo-btn {
    min-width: 33px;
    max-width: 33px;
    padding: 0;
}

#logo-btn img {
    width: 100%;
}

#menu-btn {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    padding: 0;
}

#menu-text {
    margin-right: 0.35rem;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;    
}

#search-bar {
    height: 45px;
    display: flex;
    background: white;
    border-radius: 1000px;
}

#search-bar input {
    width: 140px;
}

#search-bar input::placeholder {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 15px;
}

#search-btn {
    line-height: 0px;
    margin: 0.75rem;
    padding: 0;
}

#search-btn img {
    width: 20px;
    transform: rotate(90deg);
}

#cart {
    display: flex;
}

#location {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf;
}

#location button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

#nearest-store {
    display: flex;
    align-items: center;
}

#nearest-store p {
    margin: 8px 0.3rem;
    font-weight: 300;
}

#nearest-store button {
    color: #284b9b;
    line-height: 0;
    padding: 0;
    font-size: 16px;
}

#location-arrow {
    margin-left: 0.25rem;
}

#location .arrow path {
    stroke: black;
}

#language button {
    margin: 0 1rem;
    font-size: 12px;
    font-weight: 400;
    color: #284b9b;
}